@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
html{
  font-family: 'Poppins', sans-serif;
  width: 1200px;
  margin: auto;

}
.appx{
  display: flex;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
